:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & section {
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    max-height: 400px;
    height: 100%;
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;

    & div.header form {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      & mat-form-field.municipio {
        flex: 1;
        flex-basis: 200px;
      }

      & mat-form-field.unidad {
        flex-basis: 130px;
        width: 100%;

        @media screen and (width < 400px) {
          flex-basis: 100%;
        }
      }
    }

    & div.body {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 20px;
      flex: 1;

      & h1.municipio {
        font-size: 1.6em;
        font-weight: 500;
        margin: 0;
      }

      & h2.fecha {
        margin: 0;
        margin-top: 10px;
        font-size: 1.2em;
        font-weight: 300;
      }

      & h3.temperatura-media {
        margin: 0;
        margin-top: 10px;
        font-size: 4em;
        font-weight: 800;
        color: gray;
        display: flex;
        gap: 8px;

        & span.mini {
          font-size: 0.5em;
          font-weight: 300;
          margin-top: 6px;
        }
      }
    }
  }
}
